
.pageList {

  position: absolute;
  min-width: 800px;
  max-width: 1000px;
  /* height: 650px; */
  margin: 10% 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f6f5f5;



  display: flex;
  flex-direction: column;
} 
.List {
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .List h2 {
    text-align: center;
  }

  .listWrap {
    border: 1px solid black;
  }

  .buttonItem {
    margin-left: 5px;
  }
.buttonWrap {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  width: 70px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(233, 246, 168);
  
}