.pageList {

  position: absolute;
  min-width: 800px;
  max-width: 1000px;
  height: 650px;
  margin: 10% 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f6f5f5;

  overflow: scroll;

  display: flex;
  flex-direction: column;
} 
.List {
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .List h2 {
    text-align: center;
  }

  .listWrap {
    border: 1px solid black;
  }
